body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App {
  text-align: center;
}

.header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: purple;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 100%;
  pointer-events: none;
}

.main {}

.list {
  list-style: none;
  padding: 0;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
